function Renderer.getBlockMemoryAddress 2
push argument 0
pop local 0
push argument 1
pop local 1
push argument 0
push constant 0
lt
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
pop local 0
label IF_FALSE0
push argument 0
push constant 15
gt
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 15
pop local 0
label IF_FALSE1
push argument 1
push constant 0
lt
if-goto IF_TRUE2
goto IF_FALSE2
label IF_TRUE2
push constant 0
pop local 1
label IF_FALSE2
push argument 1
push constant 31
gt
if-goto IF_TRUE3
goto IF_FALSE3
label IF_TRUE3
push constant 31
pop local 1
label IF_FALSE3
push constant 16384
push local 1
add
push local 0
push constant 512
call Math.multiply 2
add
return
function Renderer.render 1
push argument 1
push argument 2
call Renderer.getBlockMemoryAddress 2
pop local 0
push local 0
push constant 0
add
push constant 0
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 32
add
push constant 1
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 64
add
push constant 2
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 96
add
push constant 3
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 128
add
push constant 4
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 160
add
push constant 5
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 192
add
push constant 6
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 224
add
push constant 7
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 256
add
push constant 8
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 288
add
push constant 9
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 320
add
push constant 10
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 352
add
push constant 11
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 384
add
push constant 12
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 416
add
push constant 13
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 448
add
push constant 14
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push local 0
push constant 480
add
push constant 15
push argument 0
add
pop pointer 1
push that 0
call Memory.poke 2
pop temp 0
push constant 0
return
function Renderer.drawGum 1
push constant 16
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 384
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push argument 0
push argument 1
call Renderer.render 3
pop temp 0
push local 0
call Array.dispose 1
pop temp 0
push constant 0
return
function Renderer.drawMagicGum 1
push constant 16
call Array.new 1
pop local 0
push constant 0
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 1
push local 0
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 2
push local 0
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 3
push local 0
add
push constant 4080
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 4
push local 0
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 5
push local 0
add
push constant 16380
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 6
push local 0
add
push constant 32766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 7
push local 0
add
push constant 32766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 8
push local 0
add
push constant 32766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 9
push local 0
add
push constant 32766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 10
push local 0
add
push constant 32766
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 11
push local 0
add
push constant 16380
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 12
push local 0
add
push constant 8184
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 13
push local 0
add
push constant 2016
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 14
push local 0
add
push constant 960
pop temp 0
pop pointer 1
push temp 0
pop that 0
push constant 15
push local 0
add
push constant 0
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 0
push argument 0
push argument 1
call Renderer.render 3
pop temp 0
push local 0
call Array.dispose 1
pop temp 0
push constant 0
return
